{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Стрим</title>

    <link rel="stylesheet" href="{% static '/css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
</head>
<body>
    <header>
        <span class="shapka">
            <img src="{% static '/img/logo.png' %}" alt="photo"/>
            <h2>Edutech</h2>
            <img src = "" class="prof_picture">
        </span>
        <div class="line"></div>

        <nav>
            <ul>
                <li><a href="">Курсы</a></li>
                <li><a href="">Информация</a></li>
                <li><a href="">Учителя</a></li>
                <li><a href="">Что-нибудь еще</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="settings">
            <div class="small_head"></div>
            <div class="decor"></div>
        </div>
        <div class="stream">
            <iframe width="920" height="600" src="https://www.youtube.com/embed/6Qq2OMFh8Pc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div class="small" class="decor"></div>
        </div>

        <div class="chat">
            <iframe src="", frameborder ="0", scrolling="no", height="400", width="720"></iframe>
        </div>
    </main>

    <footer>
        <br>
        <span>Copyright &copy; 2021-2022 | Edutech Company | Все права защищены | Политика конфидециальности</span>
    </footer>

</body>
</html>