{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static '/css/base.css'%}?version=1" />
    <link rel="stylesheet" href="{% static '/css/course.css'%}?version=1" />
    <title>{{ course.name }}</title>
</head>

  <body>
    {% include "base/menu.html" %}

    <div class="container">
      <section class="item_course">
        <div class="description_course">
          <div class="course_header">
            <h1>{{ course.name }}</h1>
            <p>
                {{ course.description }}
            </p>
          </div>

          <div class="btn">
            <a class="btn_link" href="{{ '/stream' }}">Смотреть лекцию</a>
          </div>
        </div>

        <div class="description_teacher">
            <div class="item_description">
                <h2>{{ course.teacher.name }}</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Excepteur sint occaecat cupidatat non proident
                </p>
            </div>
        </div>
      </section>

      <section class="item_courses">
        <div class="extra">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="extra">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="extra">
          <h2>Lorem ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </section>
    </div>

    {% include "base/footer.html" %}
  </body>
</html>
