{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/base.css'%}">
    <link rel="stylesheet" href="{% static '/css/course.css'%}">
    <title>CourseTitle</title>
</head>
<body>
    {% include "base/menu.html" %}
    <div class="container">

        <section class="item_course">

            <div class="description_course">
                <div class="course_header">
                    <h1>Название курса</h1>
                    <p></p>
                </div>

                <div class="btn">
                    <a class="btn_link" href="#">Перейти на трансляцию</a>
                </div>
            </div>

            <div class="description_teacher"></div>

        </section>

    </div>
    {% include "base/footer.html" %}
</body>
</html>