{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/base.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/courses.css'%}" type="text/css">
    <title>EduTech</title>
</head>

<body>

    {% include "base/menu.html" %}

    <div class="container">
        <div class="search">
            <input type="search" placeholder="Поиск" class="search_bar">
        </div>

        <div class="courses">

            <section class="item_course">

                <div class="container_avatar">
                    <div class="avatar">
                        <img class="img_avatar" src="{% static 'img/profile.png' %}">
                        <h3>Имя Фамилия</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <div class="container_course">
                    <nav class="course_tags">
                        <div class="item_tags">Номер класса</div>
                        <div class="item_tags">Предмет</div>
                        <div class="item_tags">Направление</div>
                    </nav>
                    <h2>Название курса</h2>
                    <div class="course_description">
                        <p class="description">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                            consequatur?
                        </p>
                        <div class="btn"><a href="#" class="pipec">Перейти</a></div>
                    </div>
                </div>

            </section>

            <section class="item_course">
                <div class="container_avatar">
                    <div class="avatar">
                        <img class="img_avatar" src="{% static 'img/profile.png' %}">
                        <h3>Имя Фамилия</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </section>
            <section class="item_course">
                <div class="container_avatar">
                    <div class="avatar">
                        <img class="img_avatar" src="{% static 'img/profile.png' %}">
                        <h3>Имя Фамилия</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>

    {% include "base/footer.html" %}

</body>

</html>