{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Edutech</title>
        <link rel="stylesheet" href="{% static '/css/infopage.css'%}" type="text/css">
    </head> 
    <body>
        <header>  
        <nav>
            <ul>
               | <li><a href="">Sign out</a></li>
                <li><a href="ne">Sign in</a></li>
                <br>
                <h1>EduTech</h1>
            </ul>
        </nav>   
        </header>
        {% include "menu.html" %}
        <br><br>
        

            <main>

               
                <section>
                    
                    <h2>
                    
                        EduTech - это онлайн платформа для обучения с возможностью трансляций и общения с учителями в режиме онлайн
                        </h2>
                </section>
                <section>             
                    <h2>
                        Для поступающих:
                        Хотите подтянуть оценки в школе?
                        Запишитесь на  онлайн курсы которые вас интересуют.
                        </h2>
                </section>
                <section>             
                    <h2>
                        Для учащихся:
                        Разбирайте задания вместе с учителями на трансляции.
                        Задавайте вопросы на которые учители обязательно ответят.
                        </h2>
                </section>
                <section>             
                    <h2>
                        Для родителей:
                        Ваш ребёнок не заскучает на наших курсах!
                        Практически все курсы проходят в игровой форме
                        
                        </h2>
                </section>
                <section>             
                    <h2>
                        Для поступления: 
                        Нужно зарегистрироваться на нашем сайте и выбрать курсы.
                        
                      
                        </h2>
                </section>
                <section>             
                    <h2>
                        После поступления:
                        Вы сможете просмотреть ваши курсы и их расписание, проходить тесты, читать нашу базу теории, 
                        также можно посмотреть вашу успеваемость по отдельным курсам
                        
                       
                        
                        </h2>
                </section>
                <section>             
                    <h2>
                        Задавайте вопросы нашей службе поддержки, мы обязательно ответим. 
                        Наши контактные данные:
                        <br>
                        +7......
                        <br>
                        EduTech@gmail.com
                        
                     
                        
                        </h2>
                </section>
            </main>
        <footer>
            <br>
            <span>&copy; 2021-2022 | Edutech Company | Все права защищены | Политика конфидециальности</span>
        </footer>       
    </body>
</html>
