{% load static %}

<head>
    <meta charset="utf-8">
    <title>Edutech</title>
    <link rel="stylesheet" href="https://snipp.ru/cdn/chosen/1.8.7/chosen.min.css">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://snipp.ru/cdn/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="{% static '/css/base.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static '/css/mainpage.css'%}" type="text/css">
</head>

<body>

    {% include "base/menu.html" %}

        <main>
            <section>
                <h2>EduTech - система онлайн образования, позволяющая
                    ученикам получить знания в различных сферах. Под руководством
                    опытных преподавателей вы сможете ....
                </h2>
            </section>
            <section>
                <h2>Наши возможности....</h2>
            </section>
            <section>
                <h2>Наполнение, которое кто-то должен сочинить</h2>
            </section>
        </main>
    {% include "base/footer.html" %}
</body>