{% load static %}

<header>
        <nav>
            <ul style="display: flex;">

                <br>
                <h1>EduTech</h1>

                <img src="{% static 'img/logo.png' %}" alt="logo"/>
                <p>Меню:
                    <li><a href="{{ '/info' }}">{{ 'Информация' }}</a></li>
                    <li><a href="{{ '/courses' }}">{{ 'Курсы' }}</a></li>
                    <li><a href="{{ '/main' }}">{{ 'Главная' }}</a></li>
                    <li><a href="{{ '/teachers' }}">{{ 'Учителя' }}</a></li>
                    <li><a href="{{ '/users/login' }}">{{ 'Войти' }}</a></li>
                    <li><a href="{{ '/users/logout' }}">{{ 'Выйти' }}</a></li>
                    <li><a href="{{ '/users/register' }}">{{ 'Регистрация' }}</a></li>
                </p>

            </ul>
        </nav>
</header>