{% load static %}

<header class="header">
        <div class="header__logo">
            <a href="{{ '/main' }}"><img src="{% static '/img/logo.png'%}"></a>
            <a class="logo__name" href="{{ '/main' }}"><h1>EduTech</h1></a>
            {% for i in menu %}
            <a class="nav__link" href="{{ i.link }}" >{{ i.text }}</a>
            {% endfor %}
        </div>
        <nav class="nav">
            <a class="nav__link" href="{{ '/users/register' }}">Sign up</a>
            <a class="nav__link" href="{{ '/users/login' }}" >Sign in</a>
            <a class="nav__link" href="{{ '/users/logout' }}" >Sign out</a>
        </nav>
</header>